*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
:root{
    --fundo--principal:rgb(216, 216, 216);
    --fundo--card:rgb(255, 254, 254);
    --botoes:#ff3c3c;
    --texto:#374151;

    --destaque:#3B82F6;
}
body{
    background-color: var(--fundo--card);
}
h1{
    color:var(--texto--);
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
div.logo img{
    width: 29px;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 1%;
    background:#111;
    color:white;
    position: sticky;               /* deixa o menu fixo */
    top: 0;                         /* deixa o menu fixo */
    z-index: 1;                     /* deixa o menu fixo */
}
#artigo{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
}
.pesquisa input{
    width: 290px;
    margin: 19px;
    padding: 10px;
    border: 2px solid var(--botoes);
    border-radius: 10px;
}

/* Note que usamos dois pontos duplos (::) */
.pesquisa input::placeholder {
    color: #ff3c3c;          /* Muda a cor */
    font-size: 14px;         /* Muda o tamanho */
    font-style: italic;      /* Coloca em itálico */
    opacity: 1;              /* Garante que a cor fique forte (o Firefox costuma baixar a opacidade) */
    font-family: 'Arial', sans-serif;
}

.logo{
    font-size:24px;
    font-weight:bold;
    }

.logo span{
    color:#ff3c3c;
    }
nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.3s;
}

nav a:hover{
    color:#ff3c3c;
}

.icons{
    display:flex;
    align-items:center;
    gap:20px;
}

.cart{
    font-size:20px;
    cursor:pointer;
}

#menu-btn{
    display:none;
    font-size:24px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

main>h1{
    text-align: center;
}
 span{
    color:#ff3c3c;
}

section#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 20px auto;
    background-color:var(--fundo--principal);
}
div.produts{
    flex: 1 1 200px;
    margin: 5px;
    max-width: 180px;
    height: 300px;
    background-color: var(--fundo--card);
    border-radius: 10px;
}
footer{
  height: 100px;
  background-color: var(--);
}
footer>p{
  font-weight: bold;
  text-align: center;
}
div#social {
    display: flex;
    justify-content: center;
    padding: 10px;
}
div#social a{
    width: 20px;
    margin: 7px;
}
#social a{
    color: var(--destaque);
}

/* estlo de imagens  */
.img {
    height: 150px;
}
.img img{
    cursor: pointer;
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.info{
    border: 2px solid #d3d4d480;
    border-radius: 10px;
    margin: 10px;
}
.info h2{
    cursor: pointer;
    font-size: 1em;
    padding: 3px;
    color: var(--texto);

}
.info h2>span{
    color: var(--botoes);
}

@media (max-width:768px){

    nav{
        position:absolute;
        top:70px;
        right:0;
        width:50%;
        background:#111;
        flex-direction:column;
        align-items:center;
        display:none;
        border-radius: 10px;
    }

    nav a{
        padding:15px;
        border-top:1px solid #333;
        width:100%;
        text-align:center;
        }

    #menu-btn{
        display:block;
    }

    nav.active{
        display:flex;
    }
    
    div.produts{
        flex: 1 1 200px;
        padding: 2px;
        margin:3px;
        max-width: 175px;
        height: 260px;
        background-color: var(--fundo--card);
        border-radius: 2px;
    }

    .pesquisa input{
        margin: 19px;
        padding: 10px;
        border: 2px solid var(--botoes);
        border-radius: 10px;
    }
    .info h2{
        cursor: pointer;
        font-size: 0.9em;
        padding: 1px;
        color: var(--texto);
    }
    .img img{
        box-shadow: 1px 1px 1px var(--botoes);
        cursor: pointer;
        height: 100%;
        width: 100%;
        padding: 3px;
        border-radius: 10px;
    }
}
